body {
    font-family: 'Poppins', sans-serif;
    background-color: white;
    background-image: url('../images/bg.jpg');
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.rectangle-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 120%; /* Increase the width to make the bar longer */
    height: 75px;
    background-color: #fff; /* Change the color to white */
}

.navbar {
    background-color: #ffffff;
    color: #001858;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar h1 {
    font-size: 2rem;
    margin: 0;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    margin-right: 50px; /* Move the entire list to the left */
}

.nav-links li {
    margin-left: 50px;
}

.nav-links a {
    text-decoration: none;
    color: #001858;
    font-size: 1.1rem;
}

.feedback-button a{
    border-radius: 5px;
    background: #FCA61F;
    padding: 2px 18px;
    color: #ffffff !important; /* Set the color of "FEEDBACK" to white */
}

.Go_back{
    positon: absolute;
    top: 35px;
    right: 95px;
    widhth: 60px;
    background-color: #FCA61F;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.section1{
    
    position: absolute;
    top: 15%;
    left: 15%;
    font-size: 1vw;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 28vh;
    width: 30vw;
}
.section2{
    
    position: absolute;
    top: 15%;
    left: 50%;
    font-size: 1vw;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 28vh;
    width: 30vw;
}

.section3{
    
    position: absolute;
    top: 55%;
    left: 28vw;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 28vh;   
    width: 40vw;
}
